<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="config/logback/logback-base.xml"/>

    <!-- Logger -->
    <logger name="com.shoeballimi" level="DEBUG"/>
    <logger name="org.springframework" level="INFO"/>
    <logger name="org.springframework.security" level="INFO"/>
    <logger name="org.springframework.amqp" level="INFO"/>
    <logger name="org.springframework.jdbc.datasource" level="DEBUG"/>
    <logger name="org.springframework.web.client.RestTemplate" level="DEBUG"/>
    <logger name="org.springframework.web.servlet.mvc.method.annotation.ExceptionHandlerExceptionResolver" level="DEBUG"/>

    <logger name="org.mybatis.spring" level="DEBUG"/>
    <logger name="org.apache.ibatis" level="DEBUG"/>
    <logger name="com.zaxxer.hikari" level="DEBUG"/>

    <logger name="jdbc" level="OFF"/>
    <logger name="jdbc.sqlonly" level="DEBUG"/>
    <logger name="jdbc.resultsettable" level="DEBUG"/>

    <root level="DEBUG">
        <appender-ref ref="Console" />
    </root>

</configuration>