<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="config/logback/logback-base.xml"/>

    <!-- Logger -->
    <logger name="com.shoeballimi" level="INFO"/>
    <logger name="org.springframework" level="INFO"/>
    <logger name="org.springframework.security" level="INFO"/>
    <logger name="org.springframework.amqp" level="INFO"/>
    <logger name="org.springframework.jdbc.datasource" level="INFO"/>
    <logger name="org.springframework.web.client.RestTemplate" level="INFO"/>

    <logger name="org.mybatis.spring" level="INFO"/>
    <logger name="org.apache.ibatis" level="INFO"/>
    <logger name="com.zaxxer.hikari" level="INFO"/>

    <logger name="jdbc" level="OFF"/>
    <logger name="jdbc.sqlonly" level="OFF"/>
    <logger name="jdbc.resultsettable" level="OFF"/>

    <root level="INFO">
        <appender-ref ref="RollingFile"/>
    </root>

</configuration>