<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shoeballimi.api.mapper.StoreMapper">

    <resultMap id="brand" type="Brand">
        <id column="brand_id" property="id"/>
        <result column="name" property="name"/>
        <result column="brand_reg_date" property="regDate"/>
    </resultMap>

    <resultMap id="store" type="Store">
        <id column="store_id" property="id"/>
        <result column="name" property="name"/>
        <result column="tel" property="tel"/>
        <result column="store_reg_date" property="regDate"/>
        <association property="location" javaType="Location">
            <result property="latitude" column="latitude"/>
            <result property="longitude" column="longitude"/>
        </association>
        <association property="brand" resultMap="brand"/>
    </resultMap>

    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO STORE (
            NAME
            , TEL
            , REG_DATE
            , LATITUDE
            , LONGITUDE
            , BRAND_ID
        )
        VALUES (
            #{name}
            , #{tel}
            , #{regDate}
            , #{location.latitude}
            , #{location.longitude}
            , #{brandId}
        )
    </insert>

    <select id="findById" resultMap="store">
        SELECT
            *
            , STORE.ID STORE_ID
            , STORE.REG_DATE STORE_REG_DATE
            , BRAND.REG_DATE BRAND_REG_DATE
        FROM STORE INNER JOIN BRAND
          ON STORE.BRAND_ID = BRAND.ID
        WHERE ID = #{id}
    </select>

    <select id="findAll" resultMap="store">
        SELECT
            *
            , STORE.ID STORE_ID
            , STORE.REG_DATE STORE_REG_DATE
            , BRAND.REG_DATE BRAND_REG_DATE
        FROM STORE INNER JOIN BRAND
          ON STORE.BRAND_ID = BRAND.ID
    </select>


</mapper>